.bold-and-brown {
    font-weight: bold;
    color: #995533;
}

.language-dashboard {
    background: #FCF1ED;
    width:  85vw;
    border-radius: 50px;
    text-align: center;
    padding: 1vh 0 1vh 0;
    margin: 0 0 4vh 0;
}

.language-dashboard-title {
    color: #020505;
    font-size: 2.5vh;
    font-weight: normal;
}

.language-dashboard-total {
    font-size: 2.5vh;
}

.language-ruler {
    background: #FCF1ED;
    color:  #FCF1ED;
}

@media only screen and (min-width: 800px) {
    .language-dashboard {
        width: 70vw;
    }

    .language-dashboard-title {
        color: #020505;
        font-size: 3vh;
    }
}