@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

button {
    width: 25vw;
    padding: 1vh 0 1vh 0;
    border-radius: 50px;
    background-color: #BFCDCD;
    font-size: 2.2vh;
    color: #020505;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 1vh 0 1vh 0;
}

@media only screen and (min-width: 800px) {
    button {
        width: 15vw;
    }
}