@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.learn-word-form {
    margin: 3.5vh 0 3.5vh 0;
}

.submit-word-guess {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-top: 2vh;
    font-size: 2.2vh;
    align-items: center;
}

.submit-your-answer {
    width: 50vw;
}

.translate-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translate-the-word {
    animation: .75s ease-in 0s 1 slideInFromLeft;
}

.word-to-translate {
    font-size: 4vh;
}

@media only screen and (min-width: 800px) {
    .submit-your-answer {
        width: 30vw;
    }

    .word-score-text {
        font-size: 2.5vh;
    }
}