@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.blue {
    color: #84A9C0;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.DisplayFeedback {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;
    text-align: center;
}

.Correct-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Correct-response {
    animation: .75s ease-in 0s 1 slideInFromLeft;
    font-size: 3vh;
}

@media only screen and (min-width: 800px) {
    .DisplayFeedback {
        font-size: 2.5vh;
    }
    .Correct-response {
        font-size: 4vh;
    }
}